@tailwind base;
@tailwind components;
@tailwind utilities;

/* your theme variables */
:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
}

.dark {
  --bg: 15 23 42;
  --fg: 226 232 240;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
